.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
}
